In [1]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
df = pd.read_csv('links_with_metadata.csv')

In [5]:
pysqldf("SELECT year, COUNT(*) FROM df GROUP BY year")

                year  COUNT(*)
0               None      4455
1          (No Date)         1
2               0000         2
3               1000         5
4               1900         1
5               1940         3
6               1947         4
7               1948         3
8               1949         2
9               1950        11
10              1951         4
11              1952         1
12              1953         2
13              1954         2
14              1955         2
15              1956         1
16              1957         4
17              1958         4
18              1959         7
19              1960        21
20              1961         6
21              1962         2
22              1963         3
23              1964        17
24              1965         4
25              1966        24
26              1967        48
27              1968        62
28              1969        11
29              1970         4
30              1971         2
31              1972         3
32              1974         2
33              1975         2
34              1976        10
35              1977         5
36              1978        10
37              1979        15
38              1980        10
39              1981        19
40              1982        35
41              1983        60
42              1984        70
43              1985        48
44              1986        44
45              1987        50
46              1988        67
47              1989        59
48              1990        81
49              1991        82
50              1992        46
51              1993        65
52              1994       100
53              1995        49
54              1996        41
55              1997        67
56              1998        43
57              1999        36
58              2000        40
59              2001        85
60              2002        56
61              2003         2
62              2005         3
63              2007         1
64              2010         2
65              2011         7
66              2013         2
67              2016         2
68              2018         1
69              2019         6
70              9999         7
71  ['1901', '1902']         1
72  ['1960', '1900']         1
73  ['1991', '1995']         1